<nav>
    <a href="/ueber_uns">Über uns</a>
    <a href="/">Galerie</a>
        <nav>
            <a href="/fotos/">Fotos</a>
            <a href="/hoereprobe/">Höreprobe</a>
        </nav>
    <a href="/">Termine</a>
</nav>